<%- include('../partials/header.ejs'); %>

    <body>
        <form class="prof-article" id="profile" autocomplete="off" action="rest-order" method="post">
            <div class="prof-detail">
                <!-- <h5 class="success" style="width: 100%; text-align:center">{{updated}}</h5> -->
                <div class="material-textfield">
                    <input placeholder=" " required name="adminUsername" class="admin-user" type="text" readonly
                        value="" />
                    <label>Username</label>
                </div>
                <div class="material-textfield">
                    <input placeholder=" " required name="adminName" class="admin-user" type="text" value="" />
                    <label>Name</label>
                </div>
                <div class="material-textfield">
                    <input placeholder=" " required name="adminEmail" class="admin-user" type="email" value="" />
                    <label>Email</label>
                </div>
                <div class="material-textfield">
                    <input placeholder=" " required name="adminPhone" class="admin-user" type="number"
                        value="<%= adminPhone %>" />
                    <label>Number</label>
                </div>
                <div class="material-textfield">
                    <input placeholder=" " required name="adminAddr" class="admin-user" type="text"
                        value="<%= adminAddr %>" />
                    <label>Address</label>
                </div>
                <div class="material-textfield">
                    <input placeholder=" " required name="adminPass" class="admin-user" type="password"
                        value="<%= adminPassword %>" />
                    <label>Password</label>
                </div>
                <div class="material-textfield">
                    <input placeholder=" " class="submit" id="save-prof" type="submit" value="Save" />
                </div>
            </div>
        </form>
    </body>
    <script>
        var loader = document.getElementById("preloader");
            window.addEventListener("load", () => {
                loader.style.display = "none";
            })
    </script>

    </html>
