<head>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/login.css" />
</head>
<div class="wrapper">
    <nav class="nav-bar">
        <ul>
            <li><a href="/"><i class="fal fa-home"></i>Home</a></li>
            <li class="drop-link">
                <a href="#"><i class="fal fa-sign-in"></i>Sign In</a>
                <ul class="drop-nav " id="pages-nav">
                    <li><i class="fal fa-user-shield"></i><a href="/admin-login">Admin</a></li>
                    <li><i class="fal fa-hotel"></i><a href="/restaurant-login">Restaurant</a></li>
                    <li><i class="fal fa-hands-helping"></i><a href="/ngo-login">NGO</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
