<%- include('../partials/header.ejs'); %>

    <body>

        <%- include('../partials/login-nav.ejs'); %>
            <div class="admin-log" id="guest-reg">
                <h1>Restaurant Registration</h1>
                <% if (stsMsg) { %>
                    <p class="success">
                        <%= stsMsg %>
                    </p>
                    <% } %>
                        <form class="admin-login" id="rest-regs" action="rest-reg-auth" method="post"
                            autocomplete="off">
                            <div class="material-textfield">
                                <input placeholder=" " required name="restName" class="guest-name" type="text">
                                <label>Name</label>
                            </div>
                            <div class="material-textfield">
                                <input placeholder=" " required name="restNumber" class="guest-pass" type="number">
                                <label>Number</label>
                            </div>
                            <div class="material-textfield">
                                <input placeholder=" " required name="restAddress" class="guest-addr" type="text">
                                <label>Address</label>
                            </div>
                            <div class="material-textfield">
                                <input placeholder=" " required name="restPin" maxlength="6" class="guest-quan"
                                    type="number">
                                <label>Area Pincode</label>
                            </div>
                            <div class="material-textfield">
                                <input placeholder=" " required name="restEmail" class="guest-quan" type="email">
                                <label>Email</label>
                            </div>
                            <div class="material-textfield">
                                <input placeholder=" " required name="restPass" class="guest-quan restPass"
                                    type="password">
                                <label>Password</label>
                            </div>
                            <div class="material-textfield">
                                <input placeholder=" " required name="restCnf" class="guest-quan restCnf"
                                    type="password">
                                <label>Confirm Password</label>
                            </div>
                            <p style="padding-top: 1rem;margin-bottom: 0;">Have a account? <a
                                    style="color: var(--prmy-color);" href="/restaurant-login">Sign
                                    In</a></p>
                            <div class="material-textfield">
                                <input placeholder=" " onclick="cnfpassword()" class="submit" type="submit"
                                    value="Register">
                            </div>
                        </form>
                        <div>
    </body>

    </html>
