:root {
  --prmy-color: #4c72f7;
  --sec-color1: #38369a;
  --sec-color2: #ffffff;
  --sec-color3: #7e09eb;
  --ter-color1: #0c1131;
  --ter-color2: #080357;

  --nav-index: 5;
  --hero-index: 3;
  --normal-index: 2;
  --pop-index: 4;
}
