/* input */
.material-textfield {
  position: relative;
  margin-top: 1rem;
}
label {
  position: absolute;
  font-size: 1rem;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  color: gray;
  padding: 0 0.3rem;
  margin: 0 0.5rem;
  transition: 0.1s ease-out;
  transform-origin: left top;
  pointer-events: none;
}
input,
textarea {
  width: 30rem !important;
  font-size: 1rem;
  outline: none;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 0.7rem 0.3rem;
  color: #080357;
  transition: 0.1s ease-out;
  font-weight: 700;
}
#edit-prof {
  border: 1px solid gray;
  border-radius: 5px;
}
input:focus,
textarea:focus,
#edit-prof {
  border-color: var(--prmy-color);
}
input:focus + label,
textarea:focus + label {
  color: var(--prmy-color);
  top: 0;
  transform: translateY(-50%) scale(0.9);
  border-radius: 10px;
  font-weight: 700;
}
input:not(:placeholder-shown) + label,
textarea:not(:placeholder-shown) + label {
  top: 0;
  transform: translateY(-50%) scale(0.9);
}
.guest-desc {
  height: 7rem;
  width: 100%;
}
.submit {
  width: 100%;
  font-weight: 700;
  color: #fff;
  background-color: var(--sec-color3);
  cursor: pointer;
  font-size: 1rem;
}

#other-sign {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  gap: 5px;
}

.material-textfield:last-child div {
  color: #fff;
  background-color: var(--sec-color3);
  padding: 6px 10px;
  flex-grow: 1;
  flex-basis: 0;
  cursor: pointer;
  border-radius: 10px;
}
.material-textfield:last-child div a {
  font-size: larger;
  font-weight: 600;
}
.material-textfield:last-child {
  display: flex;
}
.sub-head {
  text-align: center;
  padding: 5px 0;
}
.sub-head > h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--prmy-color);
}
