/* admin */
.admin-log h1 {
  color: var(--prmy-color);
  font-weight: 800;
  text-align: center;
}
.login-prof {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  /* background-image: url("/quotebg.svg"); */
  background-repeat: no-repeat;
  background-size: 50rem;
  background-position: -5rem -6rem;
}
.login-prof .quotes {
  background-color: var(--sec-color2);
  background-color: rgba(255, 255, 255, 0.336);
  display: flex;
  flex-direction: column;
  width: 30rem;
  height: 20rem;
  /* padding: 2rem; */
  word-wrap: break-word;
  border-radius: 20px;
  margin: 1rem;
  padding: 1rem 1rem;
}
.login-prof .quotes .quote-block {
  width: 26rem;
  height: 16rem;
  margin: 1rem 1rem;
}
.quotes {
  color: var(--sec-color3);
  background-color: var(--prmy-color) !important;
  font-size: 1.5rem;
  /* text-align: center; */
}
cite {
  text-align: right;
}
#get-quote {
  color: var(--sec-color2);
  font-weight: 700;
  border-radius: 50px;
}

.hvr-shutter-out-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  /* border: 3px solid var(--ter-color2); */
  background-color: var(--sec-color2);
  border: none;
  /* border: 3px solid var(--ter-color2); */
  transition: border 500ms linear;
  border-radius: 20px;
}

.hvr-shutter-out-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 3px solid var(--ter-color2);
  background: var(--ter-color2);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  border-radius: 20px;
}
.hvr-shutter-out-horizontal:hover,
.hvr-shutter-out-horizontal:focus,
.hvr-shutter-out-horizontal:active {
  color: white;
  /* border: 3px solid transparent; */
}
.hvr-shutter-out-horizontal:hover:before,
.hvr-shutter-out-horizontal:focus:before,
.hvr-shutter-out-horizontal:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.login-prof div:first-child h3 {
  text-align: center;
  color: var(--sec-color2);
  font-weight: 800;
  font-size: 2rem;
}
.login-prof .quotes .block-quote {
  /* color: var(--prmy-color); */
  color: black;
  font-weight: 600;
}
.login-prof .quotes cite {
  color: var(--prmy-color);
  display: block;
  text-align: right;
  margin-right: 2rem;
}
#pages-nav {
  right: 26rem;
}
